body{
    font-family: Arial;
    background-image: url("./image/Nature.jpg");
    background-size: cover;
    color: rgb(199, 190, 190);

    
}

#container{
    width: 50%;
    margin:auto;
    border: solid 1px;
    padding: 2em;
    text-align: center;
  

}
#header{
    margin:15px auto;
    width: 55%;
    border: 1px solid;
    font-size: 2em;
    border: collapse;
    -webkit-box-shadow: 25px 33px 58px 0px rgba(209,186,186,1);
-moz-box-shadow: 25px 33px 58px 0px rgba(209,186,186,1);
box-shadow: 25px 33px 58px 0px rgba(209,186,186,1);

}
#footer{
    width: 55%;
    border: 1px solid;
    font-size: 1em;
    margin: auto;
    border: collapse;
}
